
<section class="text-dark p-5 text-center">
  <div class="container-fluid">
    <h1>Latest Boards</h1>
    <div class="row text-center">
      <% @latest_boards.each do |board| %>
        <div class="col-md-4">
          <div class="card bg-light-blue">
            <div class="card-body">
              <h5 class="card-title"><%= board.board_name %></h5>
              <p class="card-text">Click to see description</p>
              <%= link_to board_path(board), class: "btn btn-primary" do %>
                <i class="fa fa-eye"></i> View
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>